<div class="mail-motion" aria-hidden="true">
  <div class="mail-letter-image">
    <div class="mail-animated">
      <div class="mail-back-fold"></div>
      <div class="mail-letter">
        <div class="mail-letter-border"></div>
        <div class="mail-letter-title"></div>
        <div class="mail-letter-context"></div>
        <div class="mail-letter-context is-wide"></div>
        <div class="mail-letter-stamp"></div>
      </div>
      <div class="mail-top-fold"></div>
      <div class="mail-body"></div>
      <div class="mail-left-fold"></div>
    </div>
    <div class="mail-shadow"></div>
  </div>
</div>
